apiVersion: v1
kind: Namespace
metadata:
  name: stream-clients-test
---
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: tls
  namespace: stream-clients-test
spec:
  replicas: 3
  image: rabbitmq:3.13-rc-management
  service:
    type: LoadBalancer
  tls:
    secretName: tls-secret
  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 1
      memory: 1Gi
  rabbitmq:
    additionalPlugins:
      - rabbitmq_stream
      - rabbitmq_stream_management